/* show enemy */
.prelude-unknown-pokemin-enemy-bulaga {
    position: absolute;
    width: 100%;
    height: 100%; 
    z-index: 10;
    border: 1px solid #ccc;
}

/* batol (bat-tol) battle kung ayaw mo */
.prelude-content-battle {
    position: relative;
    width: 2000px;
    height: 100%;
    border: 10px solid #020074;
}




/* enemy */
.prelude-unknown-pokemin-enemy-container {
    position: absolute;
    width: 100%;
    top: 10px;
    border: 1px solid #ccc;
}
.prelude-enemy-skill-set-container {
    display: flex;
    justify-content: right;
    border: 1px solid #1100ff;
}
.prelude-enemy-skill-set-container span {
    display: inline-block;
    width: 270px;
    border: 1px solid #bbff00;
}
.unknown-pokemin-textBox {
    width: 100%;
    height: 150px;
    border: 1px solid #ccc;
}
.unknown-pokemin-img {
    width: 270px;
    height: auto;
    border: 1px solid #ccc;
}
.unknown-pokemin-textBox-question {
    position: absolute;
    top: 50px;
    left: 40px;
    width: 720px;
    text-align: center;
    border: 1px solid #ccc;
}
.unknown-pokemin-details {
    position: absolute;
    top: 40px;
    right: 315px;
    width: 200px;
    color: white;
    border: 1px solid #ccc;
}




/* user skill box */
.prelude-user-battle-container {
    position: absolute;
    width: 100%;
    bottom: 10px;
    border: 1px solid #ff0000;
}
.prelude-user-skill-set-container {
    display: flex;
    justify-content: left;
    border: 1px solid #ccc;
}
.prelude-user-skill-set-container span {
    display: inline-block;
    width: 200px;
    border: 1px solid #ccc;
}
.prelude-user-selected-character {
    width: 200px;
    height: 200px;
    border: 1px solid #ccc;
}
.prelude-user-skillBox {
    width: 100%;
    height: 205px;
    border: 1px solid #ccc;
}
.prelude-user-random-script {
    position: absolute;
    top: 30px;
    right: 60px;
    width: 730px;
    text-align: center;
    border: 1px solid #ccc;
}
.prelude-user-skill-options {
    position: absolute;
    right: 60px;
    top: 110px;
    width: 730px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    border: 1px solid #ccc;
}
.prelude-user-skill-options span {
    display: inline-block;
    width: 400px;
    padding: 10px;
    cursor: pointer;
    color: white;
    background-color: rgba(0, 0, 0, 0.459);
    border: 1px solid #ccc;
}
.prelude-user-character-details {
    position: absolute;
    left: 240px;
    top: 110px;
    width: 220px;
    text-align: center;
    border: 1px solid #ccc;
}
.prelude-user-stage-score {
    position: absolute;
    top: 30px;
    left: 240px;
    width: 220px;
    text-align: center;
    border: 1px solid #ccc;
}