.journey-container {
    position: absolute;
    width: 90%;
    height: 90%;
    display: none; 
    /* display: flex; */
    flex-direction: column;
    color: white;
    overflow-y: auto;
    overflow-x: hidden; 
    background-color: black;
    border: 1px solid white;
}
.stages-container {
    flex: 1;
    overflow-y: auto;
    cursor: pointer;
    border: 1px solid white;
}
.stage-cleared-div {
    /* height: 200px; */
    padding: 10px;
    display: flex;
    text-align: left;
    align-items: center;
    justify-content: left;
    cursor: pointer;
    border: 2px solid greenyellow;
}
.stage-cleared-div:hover {
    background-color: rgba(0, 153, 51, 0.6);
}
.stage-not-cleared-div {
    /* height: 200px; */
    padding: 10px;
    display: flex;
    text-align: left;
    align-items: center;
    justify-content: left;
    border: 2px solid red;
}
.stage-not-cleared-div:hover {
    background-color: rgba(204, 0, 0, 0.6);
}