/* shop */
.shop-content {
    height: 570px;
    max-height: 570px;
    overflow-y: auto;
    background-color: #311a1a4b;
    border: 1px solid #ccc;
}
.shop-content-title {
    text-align: center;
    color: white;
    background-color: #000000e0;
    border: 1px solid #ccc;
}


/* shop categories */
.shop-categories {
    display: flex;
    justify-content: space-around;
    border: 1px solid #000;
}
.shop-categories span {
    display: inline-block;
    cursor: pointer;
    text-align: center;
    width: 508px;
    padding: 10px; 
    color: #ffffff; 
    background-color: black;
    border: 1px solid #ccc;
}
.shop-categories span:hover {
    color: #000000;
    background-color: rgb(202, 202, 202);
    border: 1px solid #000;
}


/* user confidential fund */
.shop-user-confidential-fund {
    text-align: center;
    color: white;
    background-color: black;
    border: 1px solid #ccc;
}
.shop-user-confidential-fund span {
    border: 1px solid #ccc;
}


/* show shop characters and items */
.shop-items-container {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: left;
    height: 400px;
    max-height: 400px;
    overflow-y: auto;
    border: 3px solid #ff0000;
}
.shop-display-owned-charsNitems {
    display: block;
    width: 189px;
    height: 230px;
    padding: 10px;
    cursor: pointer;
    text-align: center;
    color: white;
    background: rgba(0, 0, 0, 0.7); 
    border: 1px solid #bbff00;
}
.shop-display-owned-charsNitems:hover {
    background: rgba(255, 129, 129, 0.7); 
}
.shop-display-owned-charsNitems img {
    width: 150px;
    height: 150px;
    border: 2px solid #ccc;
    border-radius: 5px;
}
.shop-display-owned-charsNitems p {
    border: 1px solid #bbff00;
}


/* show shop item details popup */
.shop-item-details-popup {
    position: absolute;
    top: 20px;
    width: 1063px;
    height: 570px;
    max-height: 570px;
    overflow-y: auto;
    background-color: #000000cb;
    border: 1px solid #ccc;
}
.shop-item-details-title {
    margin: 10px;
    color: white;
    text-align: center;
    background-color: #000;
    border: 1px solid #ccc;
}
.shop-item-details-container {
    margin: 10px;
    display: flex;
    align-items: center; 
    justify-content: center;
    text-align: center;
    color: white;
    background-color: #113d0d4d;
    border: 1px solid #ccc;
}
.shop-item-details-img {
    flex: 0 0 auto;
    padding: 10px;
    border: 1px solid #ccc;
}
.shop-item-details-img div {
    border: 1px solid #ccc;
}
.shop-item-details-img img {
    width: 200px;
    border: 1px solid #ccc;
}
.shop-item-details-img p {
    border: 1px solid #ccc;
}
.shop-item-details-contents {
    flex: 1;
    padding: 10px;
    height: 430px;
    max-height: 430px;
    overflow-y: auto;
    color: white;
    border: 1px solid #ccc;
}
.shop-item-details-contents table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    border: 1px solid #000;
}
.shop-item-details-contents td {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: left;
}
.shop-item-details-contents tr:nth-child(even) {
    background-color: #5f2727;
}
.shop-item-details-contents tr:nth-child(odd) {
    background-color: #53151593;
}
.buy-item-confirmation {
    display: flex;
    margin: 10px;
    justify-content: space-around;
    border: 1px solid #ccc;
}
.buy-item-confirmation span {
    display: inline-block;
    width: 520px;
    padding: 10px;
    cursor: pointer;
    text-align: center;
    color: white;
    background-color: black;
    border: 1px solid #ccc;
}
.buy-item-confirmation span:hover {
    background-color: darkslategrey;
}


/* show shop item confirmation popup */
.shop-confirmation-popup {
    position: absolute;
    top: 20px;
    width: 1063px;
    height: 570px;
    max-height: 570px;
    overflow-y: auto;
    background-color: #000000cb;
    border: 1px solid #ccc;
}
.shop-confirmation-title {
    margin: 10px;
    color: white;
    text-align: center;
    background-color: #000;
    border: 1px solid #ccc;
}


/* user confidential fund */
.shop-confirmation-user-confidential-fund {
    margin: 10px;
    text-align: center;
    color: white;
    background-color: black;
    border: 1px solid #ccc;
}
.shop-confirmation-user-confidential-fund span {
    border: 1px solid #ccc;
}
.shop-confirmation-container {
    margin: 10px;
    height: 100%;
    display: flex;
    align-items: center; 
    justify-content: center;
    text-align: center;
    color: white;
    background-color: #113d0d4d;
    border: 1px solid #ccc;
}
.shop-confirmation-img {
    flex: 0 0 auto;
    padding: 10px;
    border: 1px solid #ccc;
}
.shop-confirmation-img div {
    border: 1px solid #ccc;
}
.shop-confirmation-img img {
    width: 200px;
    border: 1px solid #ccc;
}
.shop-confirmation-img p {
    border: 1px solid #ccc;
}
.buy-confirmation {
    display: flex;
    margin: 10px;
    justify-content: space-around;
    border: 1px solid #ccc;
}
.buy-confirmation span {
    display: inline-block;
    width: 100%;
    padding: 10px;
    cursor: pointer;
    text-align: center;
    color: white;
    background-color: black;
    border: 1px solid #ccc;
}
.buy-confirmation span:hover {
    background-color: darkslategrey;
}


/* show shop item success popup */
.shop-success-popup {
    position: absolute;
    top: 20px;
    width: 1063px;
    height: 570px;
    max-height: 570px;
    overflow-y: auto;
    background-color: #000000cb;
    border: 1px solid #ccc;
}
.shop-success-title {
    margin: 10px;
    color: white;
    text-align: center;
    background-color: #000;
    border: 1px solid #ccc;
}


/* user confidential fund */
.shop-success-user-confidential-fund {
    margin: 10px;
    text-align: center;
    color: white;
    background-color: black;
    border: 1px solid #ccc;
}
.shop-success-user-confidential-fund span {
    border: 1px solid #ccc;
}
.shop-success-container {
    margin: 10px;
    height: 100%;
    display: flex;
    align-items: center; 
    justify-content: center;
    text-align: center;
    color: white;
    background-color: #113d0d4d;
    border: 1px solid #ccc;
}
.shop-success-img {
    flex: 0 0 auto;
    padding: 10px;
    border: 1px solid #ccc;
}
.shop-success-img div {
    border: 1px solid #ccc;
}
.shop-success-img img {
    width: 200px;
    border: 1px solid #ccc;
}
.shop-success-img p {
    border: 1px solid #ccc;
}
.buy-success {
    display: flex;
    margin: 10px;
    justify-content: space-around;
    border: 1px solid #ccc;
}
.buy-success span {
    display: inline-block;
    width: 100%;
    padding: 10px;
    cursor: pointer;
    text-align: center;
    color: white;
    background-color: black;
    border: 1px solid #ccc;
}
.buy-success span:hover {
    background-color: darkslategrey;
}


/* show shop not enough funds popup */
.shop-not-enough-funds-popup {
    position: absolute;
    top: 20px;
    width: 1063px;
    height: 570px;
    max-height: 570px;
    overflow-y: auto;
    background-color: #000000cb;
    border: 1px solid #ccc;
}
.shop-not-enough-funds-title {
    margin: 10px;
    color: white;
    text-align: center;
    background-color: #000;
    border: 1px solid #ccc;
}
.shop-not-enough-funds-title p {
    font-size: 15px;
    border: 1px solid #ccc;
}


/* user confidential fund */
.shop-not-enough-funds-user-confidential-fund {
    margin: 10px;
    text-align: center;
    color: white;
    background-color: black;
    border: 1px solid #ccc;
}
.shop-not-enough-funds-user-confidential-fund span {
    border: 1px solid #ccc;
}
.shop-not-enough-funds-container {
    margin: 10px;
    height: 100%;
    display: flex;
    align-items: center; 
    justify-content: center;
    text-align: center;
    color: white;
    background-color: #113d0d4d;
    border: 1px solid #ccc;
}
.shop-not-enough-funds-img {
    flex: 0 0 auto;
    padding: 10px;
    border: 1px solid #ccc;
}
.shop-not-enough-funds-img div {
    border: 1px solid #ccc;
}
.shop-not-enough-funds-img img {
    width: 200px;
    border: 1px solid #ccc;
}
.shop-not-enough-funds-img p {
    border: 1px solid #ccc;
}
.buy-not-enough-funds {
    display: flex;
    margin: 10px;
    justify-content: space-around;
    border: 1px solid #ccc;
}
.buy-not-enough-funds span {
    display: inline-block;
    width: 100%;
    padding: 10px;
    cursor: pointer;
    text-align: center;
    color: white;
    background-color: black;
    border: 1px solid #ccc;
}
.buy-not-enough-funds span:hover {
    background-color: darkslategrey;
}