/* sidebar menu upper part */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background-color: #333;
    color: #fff;
    border: 1px solid #ff0000;
}
.sidebar-top {
    padding: 20px;
    text-align: center;
    border: 1px solid #ccc;
}
.logo {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    border: 1px solid #ccc;
}
.name {
    font-size: 18px;
    border: 1px solid #ccc;
}

/* menu and menu items */
.menu {
    max-height: 440px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    border: 1px solid #d0ff00;
}
.menu-item {
    display: flex;
    height: 100px;
    width: 240px;
    margin: 1px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    background-image: url('https://media.tenor.com/6ZUs587t-_YAAAAM/blue-heart-black.gif');
    transition: background-image 0.5s;
    border: 1px solid #ccc;
}
.menu-item:hover {
    background-image: url('https://media.tenor.com/AJBv6U1rfkQAAAAM/background-image-galaxy.gif');
}

/* sidebar menu bottom part */
.sidebar-bottom {
    /* position: absolute; */
    bottom: 0;
    left: 0;
    /* width: 100%; */
    padding: 20px;
    border: 1px solid #ccc;
}
.social-media {
    text-align: center;
    border: 1px solid #ccc;
}
.social-link {
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
    border: 1px solid #ccc;
}