/* journey */
.journey-content {
    height: 570px;
    max-height: 570px;
    overflow-y: auto;
    background-color: #311a1a4b;
    border: 1px solid #ccc;
}
.journey-content-title {
    text-align: center;
    color: white;
    background-color: #000000e0;
    border: 1px solid #ccc;
}


/* journet stages */
.journey-stages-container {
    text-align: center;
    height: 495px;
    max-height: 495px;
    overflow-y: auto;
    color: white;
    background-color: #000000e0;
    border: 1px solid #ccc;
}
.journey-show-stages {
    position: relative;
    height: 200px;
    margin: 5px;
    cursor: pointer;
    background-color: #660000e0;
    border: 1px solid #bbff00;
}
.journey-show-stages-pdiv {
    position: absolute; 
    width: 100%;
    height: 50px;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #0000006e;
    border: 1px solid #ccc;
}


/* journey confirmation popup */
.journey-content-popup {
    position: absolute;
    top: 20px;
    width: 1063px;
    height: 570px;
    max-height: 570px;
    overflow-y: auto;
    background-color: #000000cb;
    border: 1px solid #ccc;
}
.journey-content-title-confirmation {
    margin: 10px;
    text-align: center;
    color: white;
    background-color: #000000e0;
    border: 1px solid #ccc;
}
.journey-stages-container-confirmation {
    position: relative;
    height: 450px;
    margin: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    background-color: #660000e0;
    border: 1px solid #ccc;
}
.journey-show-stages-confirmOK {
    height: 200px;
    position: absolute; 
    width: 100%;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    background-color: #660000e0;
    border: 1px solid #bbff00;
}
.journey-show-stages-pdivOK {
    position: absolute; 
    width: 100%;
    height: 50px;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #0000006e;
    border: 1px solid #ccc;
}
.journey-stage-confirm-buttons {
    display: flex;
    margin: 10px;
    justify-content: space-around;
    border: 1px solid #ccc;
}
.journey-stage-confirm-buttons span {
    display: inline-block;
    width: 520px;
    padding: 10px;
    cursor: pointer;
    text-align: center;
    color: white;
    background-color: black;
    border: 1px solid #ccc;
}
.journey-stage-confirm-buttons span:hover {
    background-color: darkslategrey;
}
.journey-show-stages-confirmation {
    height: 200px;
    margin: 5px;
    background-color: #660000e0;
    border: 1px solid #bbff00;
}


/* show failed taking the stage */
.journey-content-title-confirmLocked {
    margin: 10px;
    text-align: center;
    color: white;
    background-color: #000000e0;
    border: 1px solid #ccc;
}
.journey-confirmLocked-message {
    margin: 10px;
    text-align: center;
    color: white;
    background-color: #000000e0;
    border: 1px solid #ccc;
}
.journey-confirmLocked-message p {
    font-size: 15px;
    margin: 10px;
    color: white;
    background-color: #640000e0;
    border: 1px solid #ccc;
}
.journey-stages-container-confirmLocked {
    position: relative;
    height: 360px;
    margin: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    background-color: #660000e0;
    border: 1px solid #ccc;
}
.journey-show-stages-confirmLocked {
    height: 200px;
    position: absolute; 
    width: 100%;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    background-color: #660000e0;
    border: 1px solid #bbff00;
}
.journey-show-stages-pdivLocked {
    position: absolute; 
    width: 100%;
    height: 50px;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #0000006e;
    border: 1px solid #ccc;
}
.journey-stage-confirmLocked-buttons {
    display: flex;
    margin: 10px;
    justify-content: space-around;
    border: 1px solid #ccc;
}
.journey-stage-confirmLocked-buttons span {
    display: inline-block;
    width: 1020px;
    padding: 10px;
    cursor: pointer;
    text-align: center;
    color: white;
    background-color: black;
    border: 1px solid #ccc;
}
.journey-stage-confirmLocked-buttons span:hover {
    background-color: rgb(192, 0, 0);
}