/* main content or the main canvas */
.main-content {
    position: absolute;
    height: 100%;
    width: 1064px;
    margin-left: 250px;
    padding: 20px;
    background-color: #285f2325;
    overflow: hidden;
    border: 3px solid #2f00ff;
}