body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f0f0f0; 
}

@media (orientation: landscape) {
    canvas {
        display: block;
        margin: auto;
        background-image: url('https://media1.tenor.com/m/D7oyf8r623gAAAAd/cozy-chug.gif');
        background-size: cover;
        overflow: hidden;
        border: 1px solid black;
    }
}

@media (orientation: portrait) {
    body {
        overflow: hidden; 
    }

    canvas {
        background-image: url('https://media1.tenor.com/m/D7oyf8r623gAAAAd/cozy-chug.gif');
        background-size: cover;
        position: fixed; 
        top: 50%; 
        left: 50%; 
        transform: translate(-50%, -50%) rotate(90deg); 
        border: 1px solid black;
    }
}