body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
    
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
}
.page-background {
    width: 100%;
    height: 100%;
}
.container {
    position: absolute;
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
button {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}
#userData {
    margin-top: 20px;
}
#userData button {
    background-color: #ff5555;
    color: #fff;
    border: none;
    padding: 8px 16px;
    margin-top: 10px;
}

.fade-out-start {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    pointer-events: none;
    opacity: 0;
    transition: opacity 5s ease-out;
}